# fastapi
# uvicorn
# psycopg2-binary
# python-dotenv


python -m venv venv
venv\Scripts\activate     # Windows

📦 Install required packages

In terminal:

pip install fastapi uvicorn psycopg2-binary python-dotenv

# uvicorn main:app --reload